<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageRenamer.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ImageRenamer.Console.Properties.Settings>
            <setting name="CustomersFilenameColumnName" serializeAs="String">
                <value>Customer's File Name</value>
            </setting>
            <setting name="NewFilenameColumnName" serializeAs="String">
                <value>New File Name</value>
            </setting>
            <setting name="SheetIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HeaderRowIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutputReportFilename" serializeAs="String">
                <value>_Errors.txt</value>
            </setting>
        </ImageRenamer.Console.Properties.Settings>
    </userSettings>
</configuration>